.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .circle.skills {
    width: 100%; /* Make sure it occupies full width */
    height: 100%;
  }  