.experience {
  margin-top: 150px;
  font-family: "Chillax";
}

.timeline-date {
  /* color of the date should follow the theme text color */
  color: var(--text) !important;
}

.vertical-timeline-element-content {
  transition: background 200ms ease, color 200ms ease;
}
